.button {
  padding-inline: 1.25rem;
  padding-block: .75rem;
  border-radius: .5rem;

  font: var(--font-button);
  color: var(--text-title);
}

.button-primary{
  background-color: var(--pink-dark);
  --hover-color: var(--pink-base);
}

.button-secondary{
  background-color: var(--blue-dark);
  --hover-color: var(--blue-base);
}