.monthly {
  width: 100%;
  flex-direction: column;
  gap:5.5rem;

  position: relative;

  & .blur {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.55;
    pointer-events: none;

    & > img {
      width: 100%;
      position: absolute;
      filter: blur(5px);
      scale: 1.3;
      top: -15%;
    }
  }

  & .title {
    text-align: center;
    & h3 {
      font: var(--font-title-sm);
      color: var(--text-title);

      & img {
        width: 5.5rem;
        height: 5.5rem;
      }
    }

    & span{
      font: var(--font-body-md-regular);
      color: var(--text-body);
    }
  }

  & .book-wrapper {

    width: 100%;
    font: var(--font-body-md-regular);
    color: var(--text-title);
    text-align: center;
    padding-block: 8.375rem 10.5rem;

    & .book {
      position:relative;
      margin-inline: auto;
      width: 32.4%;
    }

    & img[src*="book.png"] {
      position: relative;
      width: 100%;

      height: auto;
      z-index: 4;
    }

    & img:not([src*="book.png"]), & .book div{
      transition: 
        scale .4s ease,
        transform 0.5s ease;
      scale: 0.5;
    }
      
    & img[src*="bookmark-purple"] {
      position: absolute;
      bottom: 5%;
      right:0;

      width: 37%;
      height: auto;
      z-index: 2;


    } 

    & img[src*="bookmark-yellow"] {
      position: absolute;
      bottom: 5%;
      right:0;

      width: 37%;
      height: auto;
      z-index: 3;
    }

    & #arrow-3 {
      position: absolute;
      bottom: 10%;
      right:5%;

      width: 31.14%;

      z-index: 3;

      transform: 
      translateX(-35%)
      translateY(-30%);

      & img {
        width: 100%;
        aspect-ratio: 145/151;
        display: block;
      }

      & > div{
        position: absolute;
        width: max-content;
        bottom: -1.25rem;
        left: -4rem;
      }
    }

    & img[src*="pin"] {
      position: absolute;
      bottom: 0%;
      left:10%;

      width: 47.53%;
      height: auto;
      z-index: 2;
    }

    & #arrow-2 {
      position: absolute;
      bottom: 10%;
      left:20%;

      width: 22.45%;

      z-index: 3;

      & img {
        width: 100%;
        aspect-ratio: 105/127;
        display: block;
      }

      & > div{
        position: absolute;
        width: max-content;
        top: -2rem;
        left: -2rem;
      }
    }

    & #arrow-1 {
      position: absolute;
      top: 10%;
      left:20%;

      width: 37.36%;

      z-index: 3;

      transform: 
      translateX(55%)
      translateY(150%);

      & img {
        width: 100%;
        aspect-ratio: 175/30;
        display: block;
      }

      & > div{
        position: absolute;
        width: max-content;
        top: -2rem;
        left: -3rem;
      }
    }
    
  }
}
@media (width <= 768px) {

  .monthly .title h3 img{
    width: 3.5rem;
    height: 3.5rem;
  }

  .monthly .book-wrapper {
    padding-block: 4rem 5.5rem;
  }

  .book{
    scale: 1.2;
    font-size: 0.625rem;
  }
}

@media (768px <=  width <= 1000px) {
  .book{
    scale: 1.35;
  }
}

@media (900px <=  width <= 1200px) {
  .book{
    scale: 1.2;
  }
}

