#plans{
    flex-direction: column;
    gap: 8.625rem;
    padding-block: 12.125rem 18.875rem;
    background: url("../assets/pricing/pricing-background.png") center/cover no-repeat;

    & h3 {
      font: var(--font-title-sm);
      color: var(--text-title);
      text-align: center;
    }

    & .cards-container {
      width: 100%;
      gap: .25rem;
      padding-inline: 3.25rem;
      justify-content: center;
    }

    & .card-wrapper {
      flex-shrink: 0;
      position: relative;
    }

    & .card {
      position: relative;
      flex-direction: column;
      gap:1.5rem;

      width: 18rem;
      aspect-ratio: 288/416;
      border-radius: 1.5rem;
      padding: 2rem;
      padding-bottom: 1.75rem;

      background-color: var(--shape-base);
      border: 1px solid var(--shape-stroke);
      color: var(--text-body);

      & h4 {
        font: var(--font-title-xs);

        & .tag {
          font: var(--font-tag);
          align-self: center;
          margin-left: auto;
        }
      }

      & .price {
        font: var(--font-title-md);
        color: var(--text-title);

        & > span {
          font: var(--font-title-xs);
        }

        & > div {
          font: var(--font-body-sm-regular);
          color: var(--text-label);
          margin-top: .5rem;
        }
      }

      &:has(.button-primary) {
        --star-img: url("../assets/star-pink.svg");

        & h4 {
          color: var(--pink-light);
        }
      }

      &:has(.button-secondary) {
        --star-img: url("../assets/star-blue.svg");

         & h4 {
          color: var(--blue-light);
        }
      }

      & ul {
        font: var(--font-body-xs-regular);
        margin-top: auto;
        list-style: none;
      }

      & li {
        display: flex;
        align-items: center;
        margin-top: .75rem;
        &::before{
          content: '';
          display: inline-block;
          width: .875rem;
          height: .875rem;
          margin-right: .5rem;
          background: var(--star-img) center/contain no-repeat;
        }
      }

      & .button {
        text-align: center;
      }
    }

    & .card-wrapper:nth-of-type(2) {
      z-index: 3;

      &.card {
        background-color: var(--shape-hover);
      } 
    }

    & .decoration.bunny {
      position: absolute;
      z-index: 1;

      width: 2.8125rem;
      height: auto;

      /* top: -1.5rem; */
      top: -7%;
      left: 14%;

      & img {
        position: relative;
        z-index: 1;
      }
    }

    & .decoration.stars-top {
      position: absolute;
      z-index: 1;

      top: -7%;
      left: -7%;


      & img {
        position: relative;
        display: block;

        width: 1.625rem;
        height: 1.625rem;

        &:nth-child(2) {
          scale: 0.5;
          left: -80%;
        }
      }
    }

    & .decoration.stars-bottom {
      position: absolute;
      z-index: 1;

      bottom: -7%;
      right: -2%;

       & img {
        position: relative;
        display: block;

        width: 1.625rem;
        height: 1.625rem;

        &:nth-child(1) {
          position: absolute;
          right: -130%;
          bottom: 50%;
        }

        &:nth-child(2) {
          scale: 0.5;
        }
      } 
    }
}

